<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button [disabled]="!myForm.valid" type="submit" class="btn btn-success">{{editMode? 'Update':
            'Add'}}</button>
          <button (click)="onCancel()" type="button" class="btn btn-danger">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input formControlName="name" type="text" name="" id="name" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Image Url</label>
            <input formControlName="img" type="text" name="" id="name" class="form-control" #imagePath>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <img [src]="imagePath.value" class="img-responsive" alt="">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="Description">Description</label>
            <textarea name="" formControlName="description" id="Description" rows="6" class="form-control"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" formArrayName="ingredients">
          <div class="form-group" *ngFor="let ingControl of myForm.get('ingredients').controls; let i = index"
            [formGroupName]="i">
            <div class="row">
              <div class="col-xs-8">
                <input type="text" placeholder="Enter ingredient" formControlName="name" class="form-control">
              </div>
              <div class="col-xs-2">
                <input type="number" formControlName="amount" class="form-control" name="">
              </div>
              <div class="col-xs-2">
                <button type="button" class="btn btn-danger" (click)="deleteIngControl(i)">X</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <button type="button" class="btn btn-primary" (click)="addIngredient()">Add Ingredients</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>