<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit(ref)" #ref="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input ngModel required #name="ngModel" type="text" name="name" id="name" class="form-control">
          <p class="help-block" *ngIf="name.invalid && name.touched">Please enter ingredient name</p>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input ngModel required type="number" name="amount" pattern="^[1-9]+[0-9]*$" id="amount" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" style="display: flex; gap: 1rem  ;">
          <button [disabled]="ref.invalid" type="submit" class="btn btn-success" type="submit">{{editMode ? "Update":
            'Add'}}</button>
          <button *ngIf="editMode" class="btn btn-danger" type="button" (click)="onDelete()">Delete</button>
          <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>